name: Growatt Login

on:
  workflow_dispatch:

jobs:
  login:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install node-fetch@2 https-proxy-agent

      - name: Run login script
        env:
          GROWATT_USER: ${{ secrets.GROWATT_USERNAME }}
          GROWATT_PASS: ${{ secrets.GROWATT_PASSWORD }}
          PROXY_URL: ${{ secrets.PROXY_URL }}
        run: node login.mjs
